block mobile
    .mobile-container
        img.mobile-img(src="img/fifth/phone.svg" alt="")
        .mobile-grid
            h1.app-title Mobile apps are available Get HealthCare for free!
            p.app-ph Get on-demand access to a doctor on your phone with the free HealthCare mobile app. Download and register on our app for free and feel safe for all your family
                a.app-link(href="https://play.google.com/store;?hl=ru&gl=US" target="_blank" ): img.app-img.gplay(src="img/fifth/gplay.svg", alt="")
                a.app-link(href="https://www.apple.com/ru/app-store/" target="_blank" ): img.app-img.appstore(src="img/fifth/appstore.svg", alt="" )