block service
    .service-cont
        h1.s-title Our service 
        p.s-ph Our doctors have high qualified skills and are guaranteed to help you recover from your disease.
    .swiper
        .swiper-wrapper
            .swiper-slide.swiper-service
                img.cardiology(src="img/third/cardiology.svg", alt="")
                h3.c-title Cardiology
                p.c-ph Our cardiologists are skilled at  the diagnosing and treating diseases of the cardiovascular system.
            .swiper-slide.swiper-service
                img.pulmonology(src="img/third/pulmonology.svg", alt="")
                h3.c-title Pulmonology
                p.c-ph Our Pulmonologist are skilled at  diagnosing treating diseases of the Pulmonology system.
            .swiper-slide.swiper-service
                img.pill(src="img/third/pill.svg", alt="")
                h3.c-title Medicine
                p.c-ph Our medcine doctor are skilled at  diagnosing treating diseases of the  latest medicne system.
            .swiper-slide.swiper-service
                img.cardiology(src="img/third/cardiology.svg", alt="")
                h3.c-title Cardiology
                p.c-ph Our cardiologists are skilled at  the diagnosing and treating diseases of the cardiovascular system.
            .swiper-slide.swiper-service
                img.pulmonology(src="img/third/pulmonology.svg", alt="")
                h3.c-title Pulmonology
                p.c-ph Our Pulmonologist are skilled at  diagnosing treating diseases of the Pulmonology system.
            .swiper-slide.swiper-service
                img.pill(src="img/third/pill.svg", alt="")
                h3.c-title Medicine
                p.c-ph Our medcine doctor are skilled at  diagnosing treating diseases of the  latest medicne system.
                
        .swiper-pagination

        .swiper-button-prev
        .swiper-button-next

        .swiper-scrollbar
