block onlinedocs
    .doc-title-container
        h1.docs-title Meet Our Certified Online Doctors
        img.line(src="img/fourth/line.svg", alt="")
        p.docs-ph Our online doctors have an average of 15 years experience and a 98% satisfaction rating, they really set us apart!
    .sub-docs
        .d-cont
            .doctors.am
                p.name-title Dr Amanda Linda
                p.p-ph Dentist Specialist
                .imglinks
                    a.img-link(href="https://www.facebook.com/" target="_blank"): img(src="img/fourth/fb.svg", alt="")
                    a.img-link(href="https://twitter.com/" target="_blank"): img(src="img/fourth/tw.svg", alt="")
                    a.img-link(href="https://www.linkedin.com/" target="_blank"): img(src="img/fourth/ld.svg", alt="")
        .d-cont
            .doctors.al
                p.name-title Dr Alisa Rahman
                p.p-ph Carddiologist Specialist
                .imglinks
                    a.img-link(href="https://www.facebook.com/" target="_blank"): img(src="img/fourth/fb.svg", alt="")
                    a.img-link(href="https://twitter.com/" target="_blank"): img(src="img/fourth/tw.svg", alt="")
                    a.img-link(href="https://www.linkedin.com/" target="_blank"): img(src="img/fourth/ld.svg", alt="")
        .d-cont
            .doctors.anth
                p.name-title Dr Anthony Fauci
                p.p-ph Neurology Specialist
                .imglinks
                    a.img-link(href="https://www.facebook.com/" target="_blank"): img(src="img/fourth/fb.svg", alt="")
                    a.img-link(href="https://twitter.com/" target="_blank"): img(src="img/fourth/tw.svg", alt="")
                    a.img-link(href="https://www.linkedin.com/" target="_blank"): img(src="img/fourth/ld.svg", alt="")
        .d-cont
            .doctors.kh
                p.name-title Dr Khalid Abbed
                p.p-ph Cancer Specialist
                .imglinks
                    a.img-link(href="https://www.facebook.com/" target="_blank"): img(src="img/fourth/fb.svg", alt="")
                    a.img-link(href="https://twitter.com/" target="_blank"): img(src="img/fourth/tw.svg", alt="")
                    a.img-link(href="https://www.linkedin.com/" target="_blank"): img(src="img/fourth/ld.svg", alt="")
        button.explore Explore All Doctors