block find
    .titles
        h1.title-doc find and search your suitable doctor's
        a.sub-link(href="services.html") Join us and take care of yourself and your family with health services that will make you feel confident and safe in your daily life
    .search
        form.form
            input.input(type="text" id="doctor" placeholder="Find your doctor")

        .select-box
            .options-container
                .option 
                    input(type="radio" class="radio" id="auto" name="category")
                    label(for="auto") New York, USA
                .option 
                    input(type="radio" class="radio" id="film" name="category")
                    label(for="film") Chicago, USA
                .option 
                    input(type="radio" class="radio" id="science" name="category")
                    label(for="science") Los Angeles, USA
                .option 
                    input(type="radio" class="radio" id="music" name="category")
                    label(for="music") San Diego, USA
                .option 
                    input(type="radio" class="radio" id="art" name="category")
                    label(for="art") Philadelphia, USA
            .city Select your City
    .imgblock
        img.doc.tysha(src="img/first/doc.svg", alt="#")
        img.bgimg.back.tysha(src="img/first/backimg.svg", alt="#")
        img.patients.img.tysha(src="img/first/patients.svg", alt="#")
        img.review.img.tysha(src="img/first/review.svg", alt="#")
        img.chat.img.tysha(src="img/first/chaticon.svg", alt="#")
        img.call.img.tysha(src="img/first/callicon.svg", alt="#")
        img.video.img.tysha(src="img/first/videochaticon.svg", alt="#")
