block nav
    .bgblack
        h1.nav-title.small: a.nav-link-always(href="#") healthcare. 
        button(class="hamburger hamburger--collapse" id="hamb" type="button")
            div.inner
                span.bar
                span.bar
                span.bar
        ul.nav-list 
            li.nav-title.large: a.nav-link-always(href="#") healthcare. 
            li.nav-item: a.nav-link.active(href="#") Home
            li.nav-item: a.nav-link(href="#") About
            li.nav-item: a.nav-link(href="#") Article
            li.nav-item: a.nav-link(href="#") Services
            li.nav-item.additional: a.nav-link(href="#") Get started
            button.nav-button.xl: a.nav-link-btn(href="#") Get started
