block quality 
    .quality-container
        img.qualityimg.img(src="img/second/qualitydoc.svg" alt="")
        .q-grid-cont
            h1.q-text.q-title Best quality service with our experienced doctors
            p.q-text.q-ph With our top doctors, we are able to provide best medical services above average We have highly experienced doctors, so don't worry They are also very talented in their fields
            .q-list Search your specialist & Online consultations anywhere
            .q-list Consultation our top specialists
            .q-list Doctors are available 24/7
            button.specialists Explore specialists