block solution
    .steps
        .three
            h1.easy 3 Easy Steps and Get Your Solution
            
        img.loop.img(src="img/second/loop.svg", alt="")
        img.ellipse.back(src="img/second/ellipse.svg", alt="")
        img.calendar.img(src="img/second/calendar.svg", alt="")
        img.orange.back(src="img/second/orangeell.svg", alt="")
        img.online.img(src="img/second/online.svg", alt="")
        img.ellipse-two.back(src="img/second/ellipse.svg", alt="")
        h3.best.sub-sol-title find best doctor's
            h3.appoitment.sub-sol-title get appoitment
            h3.happy.sub-sol-title happy consultations
        .grid-container
            .sub-solution Find your doctor easily with a minimum of effort. We've kept everything organised for you
            .sub-solution Ask for an appointment of the doctor quickly with almost a single click. We take care of the rest
            .sub-solution.last Do consultations and  take the service based on your appointment. Get back to good health