block reviews
    .reviews-container
        h1.review-title Look What Our Clients Have To Say About Us
        .review-grid-cont 
            .review-grid
                    img.quote(src="img/sixth/quote.svg", alt="")
                    img.avatar(src="img/sixth/alan.svg", alt="")
                    h3.alan-name.alan-info Alan Zara dilan
                    img.stars(src="img/sixth/stars.svg", alt="")
                    p.alan-home.alan-info New York, America, USA
                    p.alan-review.alan-info Telehealth is fueled by digital technologies and DocTime telemedicine app has brought a great revolution in medical services specially an overpopulated country where virtual chamber can create at anywhere thoughout country
            .review-grid
                    img.quote(src="img/sixth/quote.svg", alt="")
                    img.avatar(src="img/sixth/alex.svg", alt="")
                    h3.alan-name.alan-info Alan Zara dilan
                    img.stars(src="img/sixth/stars.svg", alt="")
                    p.alan-home.alan-info San Francisco, America, USA
                    p.alan-review.alan-info I visited my PCP for abdominal pain. My doctor told me that I need to see Gastroenterologist. Earlier I used to call multiple offices to schedule an appointment that suites my time.
            .review-grid
                    img.quote(src="img/sixth/quote.svg", alt="")
                    img.avatar(src="img/sixth/tasnim.svg", alt="")
                    h3.alan-name.alan-info Dr Tasnim zara
                    img.stars(src="img/sixth/stars.svg", alt="")
                    p.alan-home.alan-info Los Angeles, America, USA
                    p.alan-review.alan-info HealthCare is enlightens my superpower each and every time...! I find DocTime a brand-able telemedicine platform with virtual waiting room, video consultation, e-prescription, beautifully planned user interface. Thank you :)
            