.title-doc {
    font-size: 3rem;
    max-width: 40rem;
    text-transform: capitalize;
    font-family: 'Poppins';
}

.find{
    margin-left: 8.4rem;
    
}

.sub-link {
    text-decoration: none;
    font-family: 'Poppins';
    color: rgb(143, 143, 143);
    font-size: 0.8rem;

}

.sub-link:hover {
    text-decoration: underline;
}
.titles {
    max-width: 32rem;
}

 