block book
    .book-container
        .rectangle
            img.smile-doc(src="img/seven/smile.png", alt="")
            h1.title-book.obsh it's time to change your life today
            button.book-btn.obsh Book an Appoitment