block info
    .info-cont
        .info-grid-main
            h2.info-title healthcare.
            p.info-ph.info-grey Metairie, 3689  Bassel Street, LA, Louisiana
            p.info-contact.info-grey Contact us: 225-788-5489
            .imglinks-info
                    a.img-link(href="https://www.facebook.com/" target="_blank"): img(src="img/eight/fbbw.svg", alt="")
                    a.img-link(href="https://twitter.com/" target="_blank"): img(src="img/eight/twbw.svg", alt="")
                    a.img-link(href="https://www.linkedin.com/" target="_blank"): img(src="img/eight/instbw.svg", alt="")
                    a.img-link(href="https://www.linkedin.com/" target="_blank"): img(src="img/eight/ytbw.svg", alt="")
        .info-small-cont
            .info-grid-cont.lala
                h3.cat Category
                .cat-item: a.cat-link(href="#") Home
                .cat-item: a.cat-link(href="#") About
                .cat-item: a.cat-link(href="#") Services
                .cat-item: a.cat-link(href="#") Reviews
                .cat-item: a.cat-link(href="#") Article
            .info-grid-cont.about
                h3.cat About
                .cat-item: a.cat-link(href="#") Partners
                .cat-item: a.cat-link(href="#") Careers
                .cat-item: a.cat-link(href="#") Press
                .cat-item: a.cat-link(href="#") Community
        .info-grid-cont.newspaper
                    h3.cat Subscribe newsletter
                    .cat-item.sign-ph Sign up for tips, new destinations, and exclusive promos
                    input.input(type="text" id="sign" placeholder="Enter your email")
                    button.subscribe Subscribe

